*{
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background-color: #f3f3f3;
}

.login-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
  height: 1100px;
  z-index: 1;
  position: absolute;
}

.loginInfo{
  width: 260px;
  height: 54px;
  margin-top: 94px;
  font-size: 18px;
  color: gray;
}
.loginInfo::placeholder {
  font-weight: 400;
  color: #AEAEAE;
  text-align: center;
  font-size: 18px;
}

.loginBtn{
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 46px;
  border-radius: 10px;
  margin-top: 16px;
  cursor: pointer;
  background-color: #E7E7E7;
  color: #696969;
}

.container{
  display: flex;
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  width: 100%;
  position: relative;
  background-color: #f3f3f3;
  max-height: 1100px;
  height: 100%;
}
.layer{
  max-width: 600px;
  width: 100%;
  max-height: 1100px;
  height: 1000px;
  background-color: gray;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.90;
}

.sidebar{
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.sidebar h1{
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 84px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px
}

.header {
  max-width: 600px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  background-color: white;  
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.05);
}

footer {
  max-width: 600px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 4px -6px 5px rgba(0, 0, 0, 0.05);
  background-color: white;
}

.menu{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logo{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header .img{
  width: 74px;
  height: 54px;
}


ion-icon{
  font-size: 42px;
}

.chat{
  width: 100%;
  background-color: transparent;
  margin-top: 86px;
  padding-bottom: 86px;
  max-height: 40%;
  height: auto;
  top: 0;
  overflow: scroll;
}

.chat::-webkit-scrollbar {
  display: none;
}

.message{
  padding: 10px 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #FFFFFF;
  min-height: 30px;
}

.message-status{
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #DCDCDC;
  height: 30px;
}
.from-to{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sendMsg{
  width: 250px;
  height: 50px;
  font-size: 18px;
  border: none;
  outline: none;
}
.sendMsg::placeholder {
  font-weight: 400;
  font-style: italic;
  color: black
}

.private-message{
  padding: 10px 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #FFDEDE;  ;
  min-height: 30px;
}

footer ion-icon{
  font-size: 26px;
}

.hidden {
  display: none;
}